.dropzone, .block {
    height: 100%;
    border: solid 5px #eee;
    border-radius: 1em;
    padding: 0;
}
.dropzone.dz-drag-hover {
    background-color: #d1ffe0;
    border: dashed 5px #3e9663;
    border-radius: 1em;
}
.dropzone {
    min-height: unset;
}


.block {
    margin: 10px;
    border: none;
    /*height: 4em;*/
    min-width: 40%;
}
.result.block {
    border: solid 5px lightgray;
    min-height: 6em;
}
h2 {
    font-size: 2rem;
    color: #d86371;
}
.dz-message {
    color: darkgrey;
    font-size: 1.5em;
    padding: .3em;
    text-align: center;
}